* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --edgeGap: 28px;
    /* --accentClr: #f94866; */
    /* --tintClr: #fce7eb; */
    --tilesGap: 20px;
    /* --textDark: #4a1d25; */

    --accentClr: #5874fc;
    --tintClr: #e7ecfc;
    --textDark: #0d1433;
}

html {
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    scrollbar-width: thin;
    scrollbar-color: var(--accentClr) #00000000; /* For Firefox */
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: none;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: var(--accentClr);
    border-radius: 100px;
} 

body{
    color: var(--textDark);
}


.nav {
    width: 100vw;
    height: 50px;
    background-color: var(--tintClr);
    display: flex;
    top: 0;
    position: fixed;
    transition: height 0.7s;
    z-index: 99;
    /* overflow-y: hidden; */
}


hr{
    height: 2px;
    margin: 40px var(--edgeGap);
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    /* background-color: #fff; */
}

.nav::after{
    content: "";
    position: absolute;
    background: url("./svgs/leftRounder.svg");
    width: 28px;
    height: 28px;
    left: 0;
    bottom: -28px;
}
.nav::before{
    content: "";
    position: absolute;
    background: url("./svgs/rightRounder.svg");
    width: 28px;
    height: 28px;
    right: 0;
    bottom: -28px;
}

.nav .leftDiv {
    color: var(--accentClr);
    height: 50px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: var(--edgeGap);
}

.nav .leftDiv span {
    transform: scale(0.9);
}

.nav .leftDiv h3 {
    margin-left: 4px;
    letter-spacing: 0.6px;
}

.nav .linksContainer {
    /* display: none !important; */
    transition: all 0.5s;
    position: absolute;
    right: var(--edgeGap);
    height: 50px;
    display: flex;
    align-items: center;
}

.nav .linksContainer .links {
    /* background-color: var(--accentClr); */
    transition: background 0.3s;
    background-color: #fff;
    border-radius: 100px;
    padding: 4px 12px;
    margin-left: var(--tilesGap);
}
.nav .linksContainer .links:hover{
    background-color: var(--accentClr);
    color: #ffffff;
}

.nav .linksContainer .links:hover a{
    color: #ffffff;
}

.nav .linksContainer .links .material-icons {
    transform: scale(0.8);
}

.desc {
    /* background-color: blue; */
    font-size: 0.94rem;
    margin-right: 6px;
    margin-top: 1px;
}

.nav .linksContainer .links a {
    text-decoration: none;
    /* background-color: #20edd8d2; */
    height: 100%;
    transition: color 0.4s;
    color: var(--accentClr);
    /* color: #7b7779; */
    width: 120px;
    display: flex;
    justify-content: space-between;
}



/* ----------------------Media query for Navbar------------------------- */
@media screen and (max-width: 980px) {
    .linksContainer {
        display: none !important;
    }

    .displayNone {
        display: none !important;
    }

    .menuBtn {
        display: flex !important;
    }

    .tabMDQ {

        display: grid !important;
        transform: translateY(0px) !important;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        /* background-color: yellow; */
    }

    .nav .linksContainer .links {
        margin-left: unset;
        animation-name: slideDown;
        animation-fill-mode: forwards;
    }

    .nav .linksContainer .links:nth-child(1) {
        animation-duration: 0.3s;
    }

    .nav .linksContainer .links:nth-child(2) {
        animation-duration: 0.5s;
    }

    .nav .linksContainer .links:nth-child(3) {
        animation-duration: 0.7s;
    }

    .nav .linksContainer .links:nth-child(4) {
        animation-duration: 0.9s;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-40px);
        }

        to {
            transform: translateY(0px);
        }
    }

    .incNavHeight {
        height: 102px;
    }

}

@media screen and (max-width: 814px) {
    .tabMDQ {
        width: calc(100vw - 60px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }

    .nav .linksContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .nav .linksContainer .links {
        margin-left: unset;
    }

    .nav .linksContainer .links a {
        width: auto;
    }
}

@media screen and (max-width: 690px) {
    :root {
        --edgeGap: 20px;
    }

    .tabMDQ {
        width: calc(100vw - 32px);
    }

    .nav .linksContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        row-gap: 20px;
    }

    .incNavHeight {
        height: 156px;
    }
}

@media screen and (max-width: 500px) {
    .nav .linksContainer .links {
        padding: 10px 12px;
    }

    .nav .linksContainer {
        grid-template-columns: 1fr 1fr;
    }

    .incNavHeight {
        height: 180px;
    }
}
/* ---------------------END ofMedia query for Navbar------------------------- */


/* -----------------MenuBTN-------------------------- */
.menuBtn {
    display: none;
    position: absolute;
    right: var(--edgeGap);
    width: 50px;
    height: 50px;
    /* background-color: white; */
    align-items: center;
    justify-content: center;
}

.checkbox4:checked+label>.hamburger4>.bar1 {
    top: 13.5px;
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar2 {
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
}

.checkbox4:checked+label>.hamburger4>.bar3 {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}

.checkbox4:checked+label>.hamburger4>.bar4 {
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar5 {
    bottom: 13.5px;
    background-color: transparent;
}

.hamburger {
    /* background-color: yellow; */
    /* margin: 0 auto; */
    margin-left: 22px;
    width: 30px;
    height: 30px;
    transform: scale(0.75);
    position: relative;
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: var(--accentClr);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* ---------------------------End of menuBTN and Navbars------------------------------ */

/* _____________________________Top desiging part_____________________________________ */
.topFrame{
    width: 100vw;
   height: fit-content;
    margin-top: 370px;
    /* border: 2px solid #ff0f0f; */
    background-color: var(--tintClr);
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    position: relative;
    padding-bottom: 40px;
}
.topFrame::after {
    content: "";
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    bottom: -10px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
}

.topFrame .textContainer{
    position: relative;
    /* background-color: yellow; */
    width: fit-content;
    height: fit-content;
    margin-left: var(--edgeGap);
    margin-right: var(--edgeGap);
    padding-top: var(--edgeGap);
}
.topFrame .textContainer span{
    color: var(--textDark);
    display: block;
    font-size: 2rem;
}
.textContainer .tText0{
    color: var(--accentClr) !important;
}.textContainer .tText2{
    font-size: 1.5rem !important;
    margin-top: 4px;

}


.textContainer .tText2 {
    background: linear-gradient(to right, #0d1433 40%, #1e328c 50%, #5874fc 60%, #0d1433 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideColor 4s linear infinite forwards;
    width: fit-content;
}

@keyframes slideColor {
    0% {
        background-position: -295% 0;
    }
    100% {
        background-position: 295px 0;
    }
}


.topFrame .profilePicBox{
    position: absolute;
    right: var(--edgeGap);
    top: -80px;
    width: fit-content;
    height: 220px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.topFrame .profilePicBox .profile{
    height: 220px;
    width: 180px;
    background: url("./imgs/pp.webp") center center no-repeat;
    background-color: #ffffff;
    background-size: contain;
    border: 2px solid var(--tintClr);
    border-radius: 28px;
}
.topFrame .profilePicBox .socialIcons{
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    /* border: 2px solid var(--tintClr); */
    border-radius: 100px;
    padding: 4px;
    margin-top: 24px;
    margin-left: var(--edgeGap);
}

.topFrame .profilePicBox .socialIcons .sIcon{
    width: 34px;
    height: 34px;
    display: block;
    /* background-color: red; */
    border-radius: 100%;
    margin-top: var(--edgeGap);

}
.topFrame .profilePicBox .socialIcons .sIcon:first-child{
    margin-top: 0px;
}
#instagram{
    background: url("./svgs/iconInsta.svg") center center no-repeat;
    background-size: cover;
}#telegram{
    background: url("./svgs/iconTelegram.svg") center center no-repeat;
    background-size: cover;
}#email{
    background: url("./svgs/iconMail.svg") center center no-repeat;
    background-size: cover;
}

@media screen and (max-width: 786px){
    .topFrame .profilePicBox .profile{
        width: 150px;
        height: 184px;
    }
    .topFrame .profilePicBox .socialIcons .sIcon {
        width: 28px;
        height: 28px;
    }
}

@media screen and (max-width: 680px) {
    .topFrame .textContainer span {
        font-size: 1.7rem;
    }
    .textContainer .tText2 {
        font-size: 1.3rem !important;
    }
    p, span{
        font-size: 0.8rem
    }

    .iBuild{
        line-height: 27px !important;
    }
    .aboutText{
        line-height: 24px !important;
        position: relative;
        margin-left: 14px !important;
    }
    .aboutText::before{
        left: -14px !important;
    }
    
}
@media screen and (max-width: 384px){
    .iBuild{
        font-size: 0.74rem;
    }
}
@media screen and (max-width: 630px){
    .topFrame{
        margin-top: 416px;
    }
    .topFrame .profilePicBox{
        top: -192px;
        display: grid;
    }
    .topFrame .profilePicBox .socialIcons{
        margin-top: var(--edgeGap);
        margin-left: unset;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .topFrame .profilePicBox .socialIcons .sIcon {
        margin-top: unset;
    }
}
@media screen and (max-width: 570px){
    .topFrame{
        margin-top: 450px;
    }
}


/* ___________more texts__________ */

.iBuild{
    line-height: 36px;
}
.aboutText{
    line-height: 30px;
    position: relative;
    margin-left: 18px;
}
.aboutText::before{
    content: "";
    position: absolute;
    left: -18px;
    border-radius: 2px;
    margin-top: 5px;
    height: calc(100% - 10px);
    width: 2px;
    background-color: var(--accentClr);
}


/* ___________________________End of top desingin part________________________ */

.skillsContainer{
    /* background-color: #f0f6b2; */
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    column-gap: 6px;
    padding-bottom: var(--edgeGap);
}
#scrollToSkill{
    width: 20px;
    height: 20px;
    /* background-color: rebeccapurple; */
    position: absolute;
    margin-top: -58px;
}
.skillsContainer .lDiv{
    /* width: 300px; */
    height: 400px;
    /* background-color: #4cd280; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillsContainer .rDiv{
    /* width: 300px; */
    height: fit-content;
    background-color: #ffffff;
    border-radius: 28px;
    margin-right: var(--edgeGap);
}
.skillsContainer .lDiv .starShape{
    width: 150px;
    height: 150px;
    background: url("./svgs/shapeStar.svg") center center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accentClr);
    font-size: 1.5rem;
    /* animation: rotatingAtm 1s 0.2s; */
}

@keyframes rotatingAtm {
    from{
        transform: rotate(-90deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.sssPan{
    font-size: 1.5rem;
}


.skillsContainer .rDiv .skillSliders{
    /* background-color: #f0f6b2; */
    margin: var(--edgeGap);
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}
.skillsContainer .rDiv .skillSliders .miniLine{
    background-color: var(--tintClr);
    border-radius: 100px;
    height: 4px;
    width: calc(100% - 70px);
}
.skillsContainer .rDiv .skillSliders .slider{
    background-color: var(--accentClr);
    border-radius: 100px;
    position: absolute;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    /* width: calc(80% - 70px); */
    width: 120px;
    color: white;
    align-items: center;
    transition: all 2s; 
}


.skillsContainer .rDiv .skillSliders .iconContainer{
    background-color: var(--accentClr);
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}
/* _______________ Skill icons____________________ */

.skillsContainer .rDiv .skillSliders .iconContainer .iconHtml {
    width: 54%;
    height: 54%;
    margin-top: 3.4px;
    background: url("./svgs/iconHtml.svg") center center no-repeat;
    background-size: contain;
}

.skillsContainer .rDiv .skillSliders .iconContainer .iconCss {
    width: 54%;
    height: 54%;
    margin-top: 3px;
    background: url("./svgs/iconCss.svg") center center no-repeat;
    background-size: contain;
}

.skillsContainer .rDiv .skillSliders .iconContainer .iconJs {
    width: 54%;
    height: 54%;
    margin-top: -3px;
    background: url("./svgs/iconJS.svg") center center no-repeat;
    background-size: contain;
}

.skillsContainer .rDiv .skillSliders .iconContainer .iconReact {
    width: 60%;
    height: 60%;
    background: url("./svgs/iconReact.svg") center center no-repeat;
    background-size: contain;
}

.skillsContainer .rDiv .skillSliders .iconContainer .iconBootstrap {
    width: 60%;
    height: 60%;
    background: url("./svgs/iconBootstrap.svg") center center no-repeat;
    margin-top: -1px;
    background-size: contain;
}

.skillsContainer .rDiv .skillSliders .iconContainer .iconFigma {
    width: 60%;
    height: 60%;
    background: url("./svgs/iconFigma.svg") center center no-repeat;
    margin-top: -1px;
    background-size: contain;
}

/* ________________________ENd of skill Icons__________________ */

@media screen and (max-width: 787px){
    .skillsContainer {
        grid-template-columns: auto;
        column-gap: unset;
    }
    .skillsContainer .rDiv {
        margin-left: var(--edgeGap);
    }
    .skillsContainer .lDiv {
        height: 290px;
    }
}

/* ______________________Projects Container starts from here____________________________ */

/* ____________Projects Container 2.0 __________________ */
.projectScrollableDiv{
    /* background-color: var(--tintClr); */
}

#scrollToProjects{
    width: 30px;
    height: 30px;
    /* background-color: red; */
    position: absolute;
    margin-top: -100px;
}

.projectScrollableDiv .xStarish{
    width: 150px;
    height: 150px;
    background: url("./svgs/roundedXxxy.svg") center center no-repeat;
    background-size: contain;
    color: #ffffff;
    display: flex;
    align-items: center; justify-content: center;
    margin: auto;
    margin-top: 20px;
}
.projectScrollableDiv .projectsCardsDiv{
    position: relative;
    /* background-color: #efe9e9; */
    margin-top: 54px;
    /* margin-left: var(--edgeGap);
    margin-right: var(--edgeGap); */
    /* border-radius: 20px; */
    display: flex;
    flex-wrap: nowrap; /* Prevent cards from wrapping to a new line */
    overflow-x: auto;
    scroll-behavior: smooth;   
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
}
.projectScrollableDiv .projectsCardsDiv::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit-based browsers */
  }
.projectScrollableDiv .projectsCardsDiv .pCards {
    background-color: #fff;
    width: fit-content;
    background-color: var(--tintClr);
    flex: 0 0 auto; /* Prevent cards from stretching to fill the container */
    width: 300px; /* Adjust the width of each card as needed */
    height: 460px;
    margin-right: 20px; /* Add some spacing between cards */
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* border: 2px solid var(--tintClr); */
}
.projectScrollableDiv .projectsCardsDiv .pCards:first-child{
    margin-left: var(--edgeGap);
}
.projectScrollableDiv .projectsCardsDiv .pCards:last-child{
    margin-right: var(--edgeGap);
}
.projectScrollableDiv .projectsCardsDiv .pCards .preview{
    width: calc(100% - 8px);
    margin: auto;
    margin-top: 4px;
    aspect-ratio: 16/9;
    background-color: #ffffff; 
    border-radius: 18px;
}
.projectScrollableDiv .projectsCardsDiv .pCards .textsCont{
    width: 100%;
    padding: 16px;
}
.projectScrollableDiv .projectsCardsDiv .pCards .textsCont a{
    display: block;
    color: var(--accentClr);
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 6px;
}
.projectScrollableDiv .projectsCardsDiv .pCards .textsCont .skills{
    position: absolute;
    /* background-color: #9948f0; */
    bottom: var(--edgeGap);
    width: calc(100% - 32px);
    display: block;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    /* transform: translateX(-20px); */
}
.projectScrollableDiv .projectsCardsDiv .pCards .textsCont .skills::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit-based browsers */
}
  
.projectScrollableDiv .projectsCardsDiv .pCards .textsCont .skills span{
    margin-right: 12px;
    display: inline-block;
    background-color: var(--accentClr);
    color: #ffffff;
    font-size: 0.86rem;
    padding: 4px 16px;
    border-radius: 100px;
}

@media screen and (max-width: 680px){
    .projectScrollableDiv .projectsCardsDiv .pCards{
        width: 280px;
        height: 376px;
    }
    .projectScrollableDiv .projectsCardsDiv .pCards .textsCont .skills span {
        font-size: 0.7rem;
    }
}

/* ____________end of Projects Container 2.0 __________________ */


/* _______________________Contact US_________________________________ */
.contactUsContainer{
    position: relative;
    margin-top: 100px;
}

#scrollToContactUs{
    width: 30px;
    height: 30px;
    position: absolute;
    /* background-color: red; */
    z-index: -1;
    margin-top: -110px;
}
.contactUsContainer .topIcons{
    background-color: var(--accentClr);
    color: #ffffff;
    width: fit-content;
    width: 160px;
    height: 160px;
    margin: auto;
    position: relative;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.contactUsContainer .topIcons .dialerIcon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid var(--accentClr);
    top: 0;right: 0;
    border-radius: 100%;
    display: flex;
    align-items: center; justify-content: center;
}
.contactUsContainer .topIcons .dialerIcon .iconC{
    width: 30px;
    height: 30px;
    background: url("./svgs/messageIcon.svg") center center no-repeat;
    background-size: contain;
}
.contactUsContainer .topIcons .messageIcon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid var(--accentClr);
    bottom: 0;left: 0;
    border-radius: 100%;
    display: flex;
    align-items: center; justify-content: center;
}
.contactUsContainer .topIcons .messageIcon .iconC{
    width: 28px;
    height: 28px;
    background: url("./svgs/phone.svg") center center no-repeat;
    background-size: contain;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont .iconAndText{
    /* background-color: #ffffff29; */
    border-radius: 15px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont .iconAndText .icon{
    height: 30px;
    width: 30px;
    background-color: #fffffff1;
    border-radius: 100px;
    margin-right: 10px;
    position: relative;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont .iconAndText .icon span{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0; right: 0;top: 0;bottom: 0;
    margin: auto;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont .iconAndText .icon .phone{
    background: url('./svgs/phone.svg') center center no-repeat;
    background-size: contain;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont .iconAndText .icon .email{
    background: url('./svgs/email.svg') center center no-repeat;
    background-size: contain;
    transform: scale(0.9);
    left: 0; right: 0;top: 0;bottom: 0;
    margin-top: 4px;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont iframe{
    width: 330px;
    height: 230px;
    border-radius: 20px;
    border: 0;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont .iconAndText a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

.contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks{
    /* background-color: red; */
    margin-top: 16px;
    display: flex;
    position: absolute;
    bottom: var(--edgeGap);
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks a{
    width: 30px;
    height: 30px;
    display: block;
    /* background-color: #fff; */
    margin-right: 16px;
}
#faceb{
    background: url("./svgs/iconFacebook.svg") center center no-repeat;
    background-size: contain;
}
#tweet{
    background: url("./svgs/iconTwitter.svg") center center no-repeat;
    background-size: contain;
}
#githb{
    background: url("./svgs/iconGithub.svg") center center no-repeat;
    background-size: contain;
}
#teleg{
    background: url("./svgs/iconTelegramWhite.svg") center center no-repeat;
    background-size: contain;
}
#linkDN{
    background: url("./svgs/iconLinkedIn.svg") center center no-repeat;
    background-size: contain;
}



.contactUsContainer .gridOrFlex{
    background-color: var(--tintClr);
    display: grid;
    /* grid-gap: var(--edgeGap); */
    grid-template-columns: 1.4fr 2fr;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    /* overflow: hidden; */
    position: relative;
}
.contactUsContainer .gridOrFlex .leftDiv{
    background-color: var(--accentClr);
    /* background-color: chocolate; */
    border-top-left-radius: 28px;
    position: relative;
    color: #fff;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}
.contactUsContainer .gridOrFlex .leftDiv .infoCont{
    margin: var(--edgeGap);
}
.contactUsContainer .gridOrFlex .rightDiv .sssPan{
    margin-top: var(--edgeGap);
    margin-left: var(--edgeGap);
}
.contactUsContainer .gridOrFlex .rightDiv .form{
    margin: var(--edgeGap);
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: var(--edgeGap); */
    /* background-color: darkgray; */
    position: relative;
}
.contactUsContainer .gridOrFlex .rightDiv .form .inptCont{
    /* background-color: aqua; */
    height: fit-content;
    position: relative;
    display: flex;
    gap: 20px;
}
.contactUsContainer .gridOrFlex .rightDiv .form input{
    display: inline-block;
    outline-color: var(--accentClr);
    height: 40px;
    width: 100%;
    padding: 4px 20px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.contactUsContainer .gridOrFlex .rightDiv .form textarea{
    padding: 14px;
    outline-color: var(--accentClr);
    border-radius: 20px;
    border: none;
    height: 100%;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
#sendBTN{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--accentClr);
    color: #fff;
}
#sendBTN:hover{
    opacity: 0.9;
}
#sendBTN:active{
    border: 2px solid #fff;
}

.contactUsContainer::before{
    content: "";
    position: absolute;
    background: url("./svgs/rightRounder.svg");
    width: 28px;
    height: 28px;
    right: 0;
    bottom: -28px;
}
.contactUsContainer .gridOrFlex .leftDiv::after{
    content: "";
    position: absolute;
    background: url("./svgs/leftRounderDB.svg");
    width: 28px;
    height: 28px;
    left: 0;
    bottom: -28px;
}

@media screen and (max-width: 1127px){
    .contactUsContainer .gridOrFlex .rightDiv .form .inptCont{
        display: block;
        gap: unset;
    }
}
@media screen and (max-width: 884px){
    .contactUsContainer .gridOrFlex{
        grid-template-columns: auto;
    }
    .contactUsContainer::after{
        content: "";
        position: absolute;
        background: url("./svgs/leftRounder.svg");
        width: 28px;
        height: 28px;
        left: 0;
        bottom: -28px;
    }
    .contactUsContainer .gridOrFlex .leftDiv .infoCont {
        /* background-color: chartreuse; */
    }
    .contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks {
        /* background-color: red; */
        display: block;
        height: fit-content;
        right: var(--edgeGap);
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks a{
        margin-bottom: 16px;
        margin-right: 0px;
    }
    .contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks a:last-child{
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 555px){
    .contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks {
        top: unset;
        display: flex;
        bottom: var(--edgeGap);
        left: 0;
        right: 0;
        width: fit-content;
    }
    .contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks a{
        margin-bottom: 0px;
        margin-right: 16px;
    }
    .contactUsContainer .gridOrFlex .leftDiv .infoCont .socialLinks a:last-child{
        margin-right: 0px;
    }
    .contactUsContainer .gridOrFlex .leftDiv .infoCont iframe{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 444px){
    .contactUsContainer .gridOrFlex .leftDiv .infoCont iframe{
        width: 100%;
    }
}




/* _______________________end of Contact US_________________________________ */


.aboutUsContainer{
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    column-gap: 6px;
    background-color: #ffffff;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    
}

#scrollToAbout{
    width: 30px;
    height: 30px;
    position: absolute;
    /* background-color: red; */
    z-index: -1;
    margin-top: -44px;
}
.aboutUsContainer .altDIv, .aboutUsContainer .arbDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .aboutUsContainer .altDIv{
    background-color: rgba(0, 128, 0, 0.734);
} */
.aboutUsContainer .altDIv .textConttt{
    margin: 100px;
    background-color: #fff;
}
.aboutUsContainer .altDIv .textConttt h3{
    color: var(--textDark);
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.aboutUsContainer .altDIv .textConttt p{
    color: var(--textDark);
    line-height: 30px;
}
@media screen and (max-width: 680px){
    .aboutUsContainer .altDIv .textConttt p{
        color: var(--textDark);
        line-height: 24px;
    }
}

.aboutUsContainer .arbDiv .shapsCont{
    margin: 100px;
    position: relative;
    width: 310px;
    height: 310px;
}
.aboutUsContainer .arbDiv .shapsCont .shapeStarish{
    width: 150px;
    height: 150px;
    background: url("./svgs/shapeStar.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    z-index: 3;
    opacity: 0.7;
    animation: rotatingAnimation 7s linear infinite;
}

@keyframes rotatingAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.aboutUsContainer .arbDiv .shapsCont .shapeRoundyX{
    width: 150px;
    height: 150px;
    background: url("./svgs/roundedXxxy.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;right: 0;
    top: 0;bottom: 0;
    margin: auto;
    z-index: 1;
    animation: zoom10 6s linear infinite;
    /* opacity: 0.8; */
}


@keyframes zoom10 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

.aboutUsContainer .arbDiv .shapsCont .shapeCircle{
    width: 150px;
    height: 150px;
    background-color: var(--tintClr);
    border-radius: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.94;
    z-index: 0;
    border: 2px solid var(--accentClr);
}

@media screen and (max-width: 1286px){
    .aboutUsContainer .altDIv .textConttt{
        margin: 50px;
    }
}
@media screen and (max-width: 1007px){
    .aboutUsContainer{
        padding-top: 30px;
    }
    .aboutUsContainer .altDIv .textConttt{
        margin: 50px;
    }
    .aboutUsContainer {
        display: flex !important;
        flex-direction: column;
    }
      
    .aboutUsContainer > div:first-child {
    order: 1;
    }
    
    .aboutUsContainer > div:last-child {
    order: 0;
    }
    .aboutUsContainer .arbDiv .shapsCont{
        margin: var(--edgeGap);
    }
      
}
@media screen and (max-width: 660px){
    .aboutUsContainer .altDIv .textConttt{
        margin: var(--edgeGap);
        background-color: var(--tintClr);
        padding: var(--edgeGap);
        border-radius: 20px;
        margin-bottom: 24px;
    } 
    .aboutUsContainer .arbDiv .shapsCont{
        position: relative;
        width: 260px;
        height: 260px;
        /* background-color: chartreuse; */
    }
    .aboutUsContainer .arbDiv .shapsCont .shapeStarish{
        width: 120px;
        height: 120px;
    }
    .aboutUsContainer .arbDiv .shapsCont .shapeRoundyX{
        width: 120px;
        height: 120px;
    }
    .aboutUsContainer .arbDiv .shapsCont .shapeCircle{
        width: 120px;
        height: 120px;
    }
    
}

.footer{
    position: absolute;
    z-index: -1;
    background-color: var(--accentClr);
    color: #fff;
    height: 60px;
    padding-bottom: 60px;
    /* top: -30px; */
    position: relative;
}
.footer::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    background-color: var(--accentClr);
    top: -30px;
}
.footer span{
    display: block;
    /* background-color: green; */
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}